body{

    background-color: darkolivegreen;
    
}

.one{

 padding: 50px;
  margin: 20px;
  width: 120px;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(baixados.webp);
}

.flex{

    display: flex;
    justify-content: center;

}

.one2{

  padding: 55px;
  margin: 20px;
  width: 120px;
  height: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(baixados.webp);

}

.flex2{

    display:flex;
    justify-content: center; 

}
.oneside{

     padding-right: 260px;
     margin: 20px;
     width: 120px;
     height: 400px;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     background-image: url(images.jfif)

}
.bl{
    
    background-color: rgb(255, 255, 255);
    display: flex;

}
.oneside3{

   padding-right: 300px;
  margin: 20px;
  width: 120px;
  height: 260px;    
  background-color: rgb(255, 255, 255);
}
.bloco{

    height: 450px;
    width: 450px;
    background-color:   rgb(0, 0, 0);
    margin: auto;

}

